@import "../../mixins"; //common part css

//complete horizontal nav
.navbar {
  color: #fff;
  @include d-flex(row, space-between, center);
  background-color: black;
  width: 100%;
  height: 60px;
  padding: 0 2rem;

  //use all spaces and all parts on right
  .brand {
    flex: 1;
  }

  //all 4 parts in it
  .menu {
    ul {
      @include d-flex(row, flex-start, center);
      gap: 1rem;

      li {
        a {
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }

  //only for mobile versions
  .hamburger {
    display: none;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .navbar {
    padding: 0 1rem;

    .menu {
      @include d-flex(column, flex-start, center);
      color: #fff;
      background-color: rgb(51, 51, 52);
      width: 240px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -240px;
      z-index: 100;
      transition: all 0.3s ease-in-out;

      &.open {
        left: 0;
      }

      ul {
        @include d-flex(column, center, center);
        gap: 2rem;
        height: 100%;
        li {
          a {
            color: #fff;
            cursor: pointer;
          }
        }
      }
    }

    .hamburger {
      display: block;
    }
  }
}
.c_left {
  font-size: 30px;
  font-weight: bold;
}

.y_left {
  font-size: 30px;
  color: yellow;

  font-family: bold;
}
